<div class="row">
  <div class="col s12">
    <% if @not_found %>
      <div id="letter-container" class="letter-container">
        <h2><p><span>W</span><span>e</span><span> </span><span>d</span><span>i</span><span>d</span><span>n</span><span>'</span><span>t</span><span> </span><span>f</span><span>i</span><span>n</span><span>d</span><span> </span><span>p</span><span>r</span><span>o</span><span>d</span><span>u</span><span>c</span><span>t</span><span>s</span><span>!</span><span>!</span></p></h2>
      </div>
    <% end %>

    <div class="row">
      <% @items.each do |c| %>
        <div class="col s6 m6 l3">
          <div class="center-align">
          <div class="card-deck-wrapper">
            <div class="card-deck">
            <div class="card" data-item="<%= c.id %>">
              <a class="modal-trigger  waves-light " href="#modal<%= c.id %>">
                <div class="card-image" style="background-image: url(<%= image_path c.tumbnail_img %>)">
                  <%#= image_tag c.tumbnail_img %>
                </div>
              </a>
              <div class="card-content">
                <div class="card-title"><%= c.name %></div>
                <% item_like = current_user.item_likes.find{ |item_like| item_like if item_like.item_id == c.id } %>
                <p>Price: $<%= c.price %></p>
                <span class="like-count">
                  <%= c.item_likes.count %>
                </span> likes
              </div>
              <div class="card-action">
                <div class="like-btn">
                  <% if item_like.nil? %>
                    <%= link_to 'â¤ï¸', item_item_likes_path(c.id, item_like), method: :post, remote: true %>
                  <% end %>
                </div>
                <div class="unlike-btn">
                  <% unless item_like.nil? %>
                    <%= link_to 'ðŸ’”', item_item_like_path(c.id, item_like), method: :delete, remote: true %>
                  <% end %>
                </div>
              </div>
               </div>
          </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<% @items.each do |c| %>
  <div id="modal<%= c.id %>" class="modal item-modal" data-item="<%= c.id %>">
    <% item_like = current_user.item_likes.find{ |item_like| item_like if item_like.item_id == c.id } %>
    <div class="modal-content">
      <div class="center">
        <div class="pull-right">
          <a href="#!" class="modal-action modal-close btn-flat">&times</a>
        </div>
        <div>
          <h4><%= c.name %></h4>
        </div>
        <%= image_tag c.tumbnail_img, class: "modal-image" %><br/>
        <br/>
        <div class="row">
          <div class="col s6 m6">
            $<%= c.price %> <br/>
            <br>
            <br>
            <%= c.brand.name %><br/>
            <%= c.description %><br/>
          </div>
          <div class="col s6 m6">
            <span class="like-count"><%= c.item_likes.count %></span> likes <br>
            <br>
            <br>
            <i class="fa fa-<%= gender_icon(c.gender) %>" aria-hidden="true"></i><br/>
            <%= c.colors.map(&:name).join(', ') %><br/>
          </div>
        </div>
        <br/>
        <br/>
      </div>
      <div class="like-btn modal-close btn-flat">
        <% if item_like.nil? %>
          <%= link_to "like", item_item_likes_path(c.id, item_like), method: :post, remote: true %>
        <% end %>
      </div>
      <div class="unlike-btn modal-close btn-flat">
        <% unless item_like.nil? %>
          <%= link_to 'ðŸ’”', item_item_like_path(c.id, item_like), method: :delete, remote: true %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    $(".letter-container").lettering();
  });
</script>
