
<div class="row">
  <div class="col s12 m6 offset-m3 center container-full-width">
    <% if @not_found %>
    <h1>Not found Motherfucka !</h1>
    <%end%>
    <div class="items">
      <% @items.each do |c| %>
        <div class="item" data-item='<%= c.id %>'>
          <%= c.tumbnail_img %><br/>
          <h1><%= c.name %><br/></h1>
          <p>Price: $<%= c.price %> $<br/></p>
          <p><%= c.description %><br/></p>
          <p><%= c.gender %><br/></p>
          <p><%= c.brand.name %><br/></p>

          <p><%= c.colors.first.name %><br/></p>
          <% item_like = current_user.item_likes.find{ |item_like| item_like if item_like.item_id == c.id } %>
          <p>
            <span class="like-count"> <%= c.item_likes.count %></span> likes<br/>
          </p>
          <div class="like-btn">
            <% if item_like.nil? %>
              <%= link_to 'like', item_item_likes_path(c.id, item_like), method: :post, remote: true %>
            <% end %>
          </div>
          <div class="unlike-btn">
            <% unless item_like.nil? %>
              <%= link_to 'unlike', item_item_like_path(c.id, item_like), method: :delete, remote: true %><br/>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

























