<div class="row">
  <div class="col m6 offset-m3 center">
    <h5>Edit <%= resource_name.to_s.humanize %></h5>

    <% unless current_user.uptodate? %>
      <div class="alert alert-warning">
        Update your sizes to have a better experience.
      </div>
    <% end %>

    <div class="progress">
      <div class="determinate" style="width: <%= user_account_progress(current_user) %>% "></div>
    </div>

    <%= simple_form_for(resource, as: resource_name,
          url: registration_path(resource_name),
          html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :user_name, required: true %>
        <%= f.input :address, required: true %>
        <%= f.input :gender, required: true, :collection => %w[Male Female] %>

        <div class="form-group">
          <%= f.label 'Birthdate', required: true %>
          <div class="input-field">
            <input data-birthdate='<%= current_user.birth_date.try(:to_date) %>' name="user[birth_date]" ng-model="user.birth_date" type="text" class="datepicker" materialize-date-picker readonly />
          </div>
        </div>

        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
              autocomplete: "off",
              include_blank: "leave it blank if you don't want to change it",
              required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password,
              include_blank: "we need your current password to confirm your changes",
              required: true %>
      </div>

      <div class="input-field">
        <a class="modal-trigger waves-effect waves-light btn margin-top-5" href="#modal1">Edit personal sizes</a>
        <br>
        <%= f.button :submit, "Update", class: 'margin-top-5' %>
      </div>
    <% end %>

    <br>

    <div class="row">
      <div class="col s12 m12">
        <div class="card blue-grey lighten-5">
          <div class="card-content white-text">
            <span class="card-title">Unhappy?</span>
          </div>
          <div class="card-action white-text">
            <%= link_to "Cancel my account",
                  registration_path(resource_name),
                  data: { confirm: "Are you sure?" },
                  method: :delete,
                  class: "waves-effect waves-light btn-flat button-margin-top" %>
            <%= link_to 'logout',
                  destroy_user_session_path,
                  method: :delete,
                  class: "waves-effect waves-light btn-flat button-margin-top"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal1" class="modal item-modal">
  <div class="modal-content center">
    <h5>Edit your Sizes</h5>

    <%= simple_form_for(resource,
          as: resource_name,
          url: registration_path(resource_name),
          html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :top_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Top-size to optimise the cards" %>

        <%= f.input :jacket_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Jacket-size to optimise the cards" %>

        <%= f.input :underwear_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Undies-size to optimise the cards" %>

        <%= f.input :accessoire_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Accessory-size to optimise the cards" %>

        <%= f.input :jewelry_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Jewlery-size to optimise the cards" %>

        <%= f.input :swimsuit_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Swimsuit-size to optimise the cards" %>

        <% if current_user.female? %>
          <output name="dressOutputName" id="userdressOutput">
            <%=current_user.dress_size%>
          </output>
          <p class="range-field">
            <%= f.input_field :dress_size, type: "range", id: "user_dress_size", min:30, max:50, oninput: "userdressOutput.value = user_dress_size.value" %>
          </p>
        <% end %>

        <output name="bottomOutputName" id="userbottomOutput">
          <%=current_user.bottom_size%>
        </output>
        <p class="range-field">
          <%= f.input_field :bottom_size, type: "range", id: "user_bottom_size", min:30, max:50, oninput: "userbottomOutput.value = user_bottom_size.value" %>
        </p>

        <output name="shoeOutputName" id="usershoeOutput">
          <%=current_user.shoe_size%>
        </output>
        <p class="range-field">
          <%= f.input_field :shoe_size, type: "range", id: "user_shoe_size", min:32, max:50, oninput: "usershoeOutput.value = user_shoe_size.value" %>
        </p>

        <%= f.input :current_password,
              placeholder: "Please input Password to change.",
              required: true %>
      </div>

      <div class="form-actions">
        <a href="#!" class="modal-action modal-close btn">Close</a>
        <%= f.button :submit, "Update" %>
      </div>
    </div>
  <% end %>


  <!-- SCRIPTS -->
  <script>
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a  dropdown to control month
      selectYears: 100, // Creates a dropdown of 15 years to control year
      max: true
    });
    var $input = $('.datepicker').pickadate()
    var date = $('.datepicker').data('birthdate')
    // Use the picker object directly.
    var picker = $input.pickadate('picker')
    // Using JavaScript Date objects.
    picker.set('select', new Date(date))
    $(".datepicker").change(function() {
      date = new Date($(".datepicker").val())
      date = [date.getDate(), date.getMonth() + 1, date.getFullYear()].join('/');
      $(".datepicker").val(date)
    });

  });
</script>
