<div class="row">
  <div class="col m6 offset-m3 center">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<% unless current_user.uptodate? %>
<div class="alert alert-danger">
  Update your sizes to have a better experience.
</div>

<% end %>

<div class="progress">
    <div class="determinate" style="width: <%= user_account_progress(current_user) %>% "></div>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :user_name, required: true %>
    <%= f.input :address, required: true %>
    <%= f.input :gender, required: true, :collection => %w[Male Female] %>
    <%= f.input :birth_date, required: true %>

    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", include_blank: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, include_blank: "we need your current password to confirm your changes", required: true %>

    <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Edit personal sizes</a>
  </div>
<br/>
  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <h6><%= link_to 'logout', destroy_user_session_path, method: :delete %> |
    <%= link_to "Back", :back %></h6>

  </div>
</div>

<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Edit your Sizes</h4>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h5>Top size</h5>
    <%= f.input :top_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Top-size to optimise the cards" %>

    <h5>Jacket size</h5>
    <%= f.input :jacket_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Jacket-size to optimise the cards" %>

    <h5>Underwear size</h5>
    <%= f.input :underwear_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Undies-size to optimise the cards" %>

    <h5>Accessory size</h5>
    <%= f.input :accessoire_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Accessory-size to optimise the cards" %>

    <h5>Jewlery size</h5>
    <%= f.input :jewelry_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Jewlery-size to optimise the cards" %>

    <h5>Swimsuit size</h5>
    <%= f.input :swimsuit_size, required: true, :collection => %w[XS S M L XL], include_blank: "Enter your Swimsuit-size to optimise the cards" %>

    <% if current_user.female? %>
    <p class="range-field">
      <h5>Dress size</h5>
        <output name="dressOutputName" id="userdressOutput"><%=current_user.dress_size%></output>
        <input class="form-control string required" required="required" aria-required="true" type="range" name="user[dress_size]" id="user_dress_size" min="30" max="50" value="<%current_user.dress_size%>" oninput= "userdressOutput.value = user_dress_size.value">
    </p>
    <% end %>

    <p class="range-field">
      <h5>Bottom size</h5>
        <output name="bottomOutputName" id="userbottomOutput"><%=current_user.bottom_size%></output>
        <input class="form-control string required" required="required" aria-required="true" type="range" name="user[bottom_size]" id="user_bottom_size" min="30" max="50" value="<%current_user.bottom_size%>" oninput= "userbottomOutput.value = user_bottom_size.value">
    </p>


    <p class="range-field">
    <h5>Shoe size</h5>
    <output name="shoeOutputName" id="usershoeOutput"><%=current_user.shoe_size%></output>
      <input class="form-control string required" required="required" aria-required="true" type="range" name="user[shoe_size]" id="user_shoe_size" min="32" max="50" value="<%current_user.shoe_size%>" oninput= "usershoeOutput.value = user_shoe_size.value">
    </p>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    <br/>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>

    </div>

  </div>
  <% end %>

<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
</script>
