<h2>Profile Page</h2><br/>
<h3><%= current_user.user_name %></h3>

<h5>
First Name: <%= current_user.first_name %><br/>
Last Name: <%= current_user.last_name %><br/>
Gender: <%= current_user.gender %><br/>
Email: <%= current_user.email %><br/>
</h5>


