<h2>Profile Page</h2><br/>
<h3><%= current_user.user_name %></h3>

<h5>
First Name: <%= current_user.first_name %><br/>
Last Name: <%= current_user.last_name %><br/>
Gender: <%= current_user.gender %><br/>
Email: <%= current_user.email %><br/>
</h5>


<% current_user.liked_items.each do |item| %>
<%= item.tumbnail_img %><br/>
<%= item.name %><br/>
<%= item.price %> $<br/>
<%= item.description %><br/>
<%= item.gender %><br/>
<%= item.brand.name %><br/>
<%= item.colors.map(&:name).join(', ') %><br/>
<% item_like = current_user.item_likes.find{ |item_like| item_like if item_like.item_id == item.id} %>
  <%= item.item_likes.count %> likes<br/>
  <% if item_like.nil? %>
  <%= link_to 'like', item_item_likes_path(item.id, item_like), method: :post %>
  <% else %>
  <%= link_to 'unlike', item_item_like_path(item.id, item_like), method: :delete %><br/>
  <% end %>
  <br/>
<% end %>







