<h1>Search Page</h1>

<%= search_form_for @q, url: home_path do |f| %>

  <%= f.label "Name" %>
  <%= f.search_field :name_cont %>

  <%= f.label :price_gteq, "Min Price" %>
  <%= f.search_field :price_gteq %>

  <%= f.label :price_lteq, "Max Price" %>
  <%= f.search_field :price_lteq %>

  <%= f.label "Categories" %>
  <%= f.search_field :subcategories_category_name_eq %>

  <%= f.label "Subcategories" %>
  <%= f.search_field :subcategories_name_cont %>

  <%= f.label :gender_eq, "Gender" %>
  <%= f.search_field :gender_eq %>

  <%= f.label "Brand" %>
  <%= f.search_field :brand_name_cont %>

  <%= f.label "Color" %>
  <%= f.search_field :colors_name_cont %>

  <%= f.label "Shop" %>
  <%= f.search_field :shop_name_cont %>

  <%= f.label "City" %>
  <%= f.search_field :shop_city_eq %>

  <%= f.label "Size" %>
  <%= f.search_field :sizes_selection_eq %>


  <%= f.submit %>
<% end %>
