<div class="row">
  <div class="col m6 offset-m3 center">
    <h3>Search</h3>
    <%= search_form_for @q, url: home_path do |f| %>
      <%= f.label :name_or_brand_name_or_shop_name_or_colors_name_cont, "Search" %>
      <%= f.search_field :name_or_brand_name_or_shop_name_or_colors_name_cont %>

      <%= f.label :shop_city_eq, "City" %>
      <%= f.search_field :shop_city_eq %>

      <%= f.label :price_range %>

      <div id="html5" style="margin-top: 30px; margin-bottom: 10px;"></div>
      <%= f.search_field :price_lteq, id: "input-max", style: "display:none" %>
      <%= f.search_field :price_gteq, id: "input-min", style: "display:none" %>

      <div class="row">
        <div class="col s6">
          <%= f.label :subcategories_category_id_eq, "Category" %>
          <%= f.select :subcategories_category_id_eq,
                options_from_collection_for_select(
                  Category.all,
                  "id", "name",
                  @q.subcategories_category_id_eq
                ),
                include_blank: true %>
        </div>
        <div class="col s6">
          <%= f.label :subcategories_id_eq, "Subcategory" %>
          <%= f.select :subcategories_id_eq,
                options_for_select(
                  Subcategory.all.map { |sc| [sc.name, sc.id, { 'data-category' => sc.category_id }] }
                ),
                include_blank: true %>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <%= f.label :gender_eq, "Gender" %>
          <%= f.select :gender_eq, options_for_select([['Male'], ['Female']]), include_blank: true %>
        </div>
        <div class="col s4">
          <%= f.label :sizes_id_eq, "Size" %>
          <%= f.select :sizes_id_eq,
                options_for_select(
                  Size.all.map { |si| [si.value, si.id, { 'data-category' => si.category_id }] }
                ),
                include_blank: true %>
        </div>
        <div class="col s4">
          <%= f.label :colors_id_eq, "Color" %>
          <%= f.select :colors_id_eq,
                options_from_collection_for_select(
                  Color.all, "id", "name",
                  @q.colors_id_eq
                ),
                include_blank: true %>
        </div>
      </div>

      <%= f.submit 'Search', class: "waves-effect waves-light btn margin-top-15 btn-large margin-bottom-15" %>
    <% end %>
  </div>
</div>


<script>

var html5Slider = document.getElementById('html5');

noUiSlider.create(html5Slider, {
  start: [ 30, 100 ],
  connect: true,
  tooltips: [ true, true ],
  range: {
    'min': 0,
    'max': 200
  }
});

var inputMax = document.getElementById('input-max');
var inputMin = document.getElementById('input-min');

html5Slider.noUiSlider.on('update', function( values, handle ) {

  var value = values[handle];

  if ( handle ) {
    inputMax.value = Math.round(value);
  } else {
    inputMin.value = Math.round(value);
  }
});

inputMin.addEventListener('change', function(){
  html5Slider.noUiSlider.set([this.value, null]);
});

inputMax.addEventListener('change', function(){
  html5Slider.noUiSlider.set([null, this.value]);
});

</script>
