<div class="row">
  <div class="col m6 offset-m3 center">
    <h1>Search Page</h1>
    <%= search_form_for @q, url: home_path do |f| %>

    <%= f.label "Search" %>
    <%= f.search_field :name_or_brand_name_or_shop_name_or_colors_name_cont %>

    <%= f.label :price_gteq, "Min Price" %>
    <%= f.search_field :price_gteq %>

    <%= f.label :price_lteq, "Max Price" %>
    <%= f.search_field :price_lteq %>

    <%= f.label "Gender" %>
    <%= f.select :gender_eq, options_for_select([['Select', ''], ['Male'], ['Female']]), include_blank: true %>

    <%= f.label "Color" %>
    <%= f.select :colors_id_eq, options_from_collection_for_select(Color.all, "id", "name", @q.colors_id_eq), include_blank: true %>

    <%= f.label "City" %>
    <%= f.search_field :shop_city_eq %>


    <%= f.label "Category" %>
    <%= f.select :subcategories_category_id_eq,options_from_collection_for_select(Category.all, "id", "name", @q.subcategories_category_id_eq), include_blank: true %>

    <%= f.label "Subcategory" %>
    <%= f.select :subcategories_id_eq, options_from_collection_for_select(Subcategory.all, "id", "name", @q.subcategories_id_eq), include_blank: true %>


    <%= f.label "Size" %>
    <%= f.select :sizes_id_eq, options_from_collection_for_select(Size.all, "id", "value", @q.sizes_id_eq), include_blank: true %>

    <%= f.submit 'Search', class: "waves-effect waves-light btn" %>
    <% end %>
  </div>
</div>
