<h1>Search Result</h1>

<% if search.search_items.empty? %>

<p>No Records Found</p>

<% else %>

<% @search.search_items.each do |c| %>
<br/>


<%= c.tumbnail_img %><br/>
<h1><%= c.name %><br/></h1>
<p>Price: $<%= c.price %> $<br/></p>
<p><%= c.description %><br/></p>
<p><%= c.gender %><br/></p>
<%= c.item_likes.count %> likes<br/>
  <%= link_to 'like', item_item_likes_path(item), method: :post %>
  <%= link_to 'unlike', item_item_like_path(item, item.item_likes), method: :delete %><br/>
  <br/>

<% end %>

<% end %>



