<h1>Listing Clothes</h1>



<% @items.each do |item| %>
<%= item.tumbnail_img %><br/>
<%= item.name %><br/>
<%= item.price %> $<br/>
<%= item.description %><br/>
<%= item.gender %><br/>
<%= item.brand.name %><br/>
<%= item.colors.map(&:name).join(', ') %><br/>
<%= item.item_likes.count %> likes<br/>
  <%= link_to 'like', item_item_likes_path(item), method: :post %>
  <%= link_to 'unlike', item_item_like_path(item, item.item_likes), method: :delete %><br/>
  <br/>
<% end %>


