<!DOCTYPE html>
<html>
  <head>
  <title>F!BER ShoppingAid</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <title>jTinder Touch Slider</title>
    <link rel="stylesheet" type="text/css" href="css/jTinder.css">
  </head>
  <body>
  <div id="container">
    <%= render '../views/partials/header' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <% unless current_page?(root_url) || current_page?(new_user_session_path) %>
    <%= render '../views/partials/footer' %>
    <% end %>
    </div>
  </body>
</html>
